name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: RUSTFLAGS='-C link-arg=-s' cargo build --all --target wasm32-unknown-unknown --release
    - name: Run tests
      run: cargo test --all -- --nocapture --color always
